# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# toptal/gitignore/templates/CMake.gitignore

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build

# toptal/gitignore/templates/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

!.vscode/*.code-snippets
ZERO_CHECK.*
unit-tests.*
test-c-vector.*
RUN_TESTS.*
c-vector.sln
c-vector-example.*
ALL_BUILD.vcxproj.*
ALL_BUILD.vcxproj
c-vector-example.dir
Debug
test-c-vector.dir
unit-tests.dir
x64
unit-tests
test-c-vector
c-vector-example
